.cardWrapper {

    display: flex;
    padding: 2rem;
    flex-wrap:wrap;
    gap: 1rem;
    
}


.titleWrapper {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.contentWrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 400px;
    gap: 2rem;
    min-height: 250px;
    padding: 1rem;

}

.contentText {

    align-self: center;
    line-height: 1.5rem;

}

.renderElWrapper {

    flex: 1 1 450px;
    align-self: center;
    padding: 1rem;

}

.renderEl {

    margin: auto;
    border-radius: 10%;
    overflow: hidden;
    
}

.title {

    font-weight: 700;
    font-size: 1.5rem;

}

.subtitle {

    font-style: italic;

}

.location {

    font-style: italic;
    color: hsl(0deg 0% 43%);
    
}

.date {

    font-size: 0.9rem;
    color: hsl(0deg 0% 43%);

}