.main {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.section {

    position: relative;
    display: flex;
    width: 80vw;
    height: 520px;

}

.text {

    display: inline-block;
    margin: auto;
    width: auto;
    position: relative;
    max-width: 800px;
    line-height: 1.5rem;
    padding: 2rem;
    font-weight: 700;
    /* margin-top: 0px;
    padding-top: 4rem; */

}

.p5El {

    position: absolute;
    top: 0;
    filter: blur(3px);
    border-radius: 20%;
    opacity: .35;
    width: 80vw;
    overflow: hidden;

}