.headerWrapper {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 3rem;
    padding-top: calc(3rem + 4px);
    justify-content: space-around;
}

@media (max-width: 500px) {

    .headerWrapper {
        flex-direction: column;
    }

}