.termWrapper {

    position: relative;
    display: inline-block;
    width: 100px;
    height: 1rem;
    margin: 0 2px;
    transition: width .4s cubic-bezier(0.12, 0.59, 0.47, 0.93);

}

.term {
    position: absolute;
    top: -2px;
    left: 0;
    white-space: nowrap;
    font-weight: 700;
}
